@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #edf2f7;
    color: #111
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem
}