@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #eaf0ff;
    --surface: #fff;
    --text: #111;
    --primary: #2563eb
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    background: var(--bg);
    color: var(--text);
}

a {
    color: var(--primary);
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0
}